* {
  /* margin: 0; */
  text-decoration: none;
}
*:focus {
  outline: none;
}
body {
  background-color: rgb(7, 25, 64);
  font-family: "Press Start 2P", cursive;
  color: rgb(230, 228, 227);
  margin: 10px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  border-radius: 12px;
  width: 100px;
  height: 50px;
  float: left;
  background-color: rgb(51, 255, 0);
  border: 1px solid greenyellow;
  font-weight: 400;
}
input {
  width: 200px;
  height: 100px;
  background-color: rgb(224, 211, 211);
  border-radius: 12px;
  border: none;
  margin-bottom: 20px;
  font-size: 50px;
  text-align: center;
  overflow: auto;
}
.click button {
  font-weight: 400;
}
input::after {
  border: none;
}
.guessParagraph {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  padding-top: 100px;
  padding-bottom: 30px;
}
.questionNumbers {
  display: flex;
  align-items: center;
}
.questionNumberIcon {
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid rgb(219, 209, 209);
  align-items: center;
  justify-content: center;
  font-size: 80px;
}
.questionNumberLine {
  flex: 1 0 auto;
  height: 0;
  border-top: 5px solid rgb(215, 201, 201);
}
.display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}
.display_1 {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.display_2 {
  font-size: 30px;
  margin-left: 10px;
}
.scoreP {
  margin-top: 30px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .guessParagraph {
    font-size: 20px;
    line-height: 30px;
  }

  .display {
    flex-direction: column;
  }
  .display_2 {
    font-size: 20px;
  }
}
